{% extends 'base.html'%}
{% block head %}
<title>hello hello toss the coin you will</title>

{% endblock %}
{%block body%}
Virat has a 45% toss win percentage
<br>
In ODIs it is 42%
<br>
In t20Is it is as low as 40%
<br>
In IPL its kind of okayish at 47%
<br>
The conclusion is that he does not win many tosses, now people talk a lot about tosses affecting results of the games
and stuff like that which is not really true, in most of cases the advantage you get is very little and it defeintely
does not guarantee a win.
There is also something called "good toss to lose too, where conditions are weird and you are not really sure what to
do", toss deciding the match happens in very few places and if you have a strong enough team, those cases also do not
affect you.
But no team is perfect and in a this day and age all teams are super strong, so getting as much advantage as possible is
always the way to go.
<br>
But how can you win every single toss? I have an idea which is the most stupid, impractical and nonsense idea of all but
its fun though.
<br>
The idea I am talking about is Quantum Teleportaion. We need to somehow entangle the person who calls the toss and coin
and if the person calling it is Virat we will ensure it results in the same outcome and if its the opposition captain we
will make the coin give a different outcome.
You can check out the Qiskit textbook on <a href="https://qiskit.org/textbook/ch-algorithms/teleportation.html">Quantum
    Teleportaion</a> its awesome. This is just a fun simulation showing how no matter who is calling it,
Virat will always win the toss.
<br>
Now for me the most important toss Virat is supposed to win is the WTC final one and I do not know who will be calling
it, but I will cover for both scenarios. Who is calling the toss?<br>
<table>
    <tr>
        <td><img src="../static/Virat-Kohli-hundred.jpg" height="320" width="512" /></td>
        <td><img src="../static/Kane-Williamson.jpg" height="320" width="512" /></td>
    </tr>
    <tr>
        <td>
            <div style="text-align:center">
                <form action="/kohlicalls"><input type="submit" value="Kohli is calling the toss" /></form>
            </div>

        </td>
        <td>
            <div style="text-align:center">
                <form action="/kanecalls"><input type="submit" value="Kane is calling the toss" /></form>
            </div>

        </td>
    </tr>

</table>


{%endblock%}