<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1, shrink-to-fit=no"
        />
        <title>kohli calls tails</title>
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />-->
        <link rel="stylesheet" href="../static/css/index.css" />
    </head>

    <body>
        <div class="container">
            <div class="header">Virat and Toss</div>
            <div class="by-line">~ Project By Sammith SB</div>
            <div class="content">
                <div class="text text-center">
                    It is tails and you have been beaten terribly by the
                    greatest batsman of all time Kohli saab
                </div>
                <div style="text-align: center">
                    <img
                        src="../static/ezgif.com-gif-maker.gif"
                        width="90%"
                        max-width="700px"
                    />
                </div>
            </div>
        </div>

        <div class="links">
            <p class="text-center">
                Check out the code for the qiskit implementation :
                <a
                    href="https://github.com/SammithSB/virat-and-toss/blob/main/Quantum%20teleportation.ipynb"
                    target="_blank"
                    >here</a
                >
            </p>
            <br />
            <p class="text-center">
                Link to the repo :
                <a
                    href="https://github.com/SammithSB/virat-and-toss"
                    target="_blank"
                    >Github Repository</a
                >
            </p>
        </div>
        <script
            src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"
        ></script>
    </body>
</html>
